<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205448568564-l629rg7h4ilneoiuh923tdpd51455gta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205448568564-l629rg7h4ilneoiuh923tdpd51455gta</string>
	<key>API_KEY</key>
	<string>AIzaSyB_3Zh-_dE_gZuCoqBOEAzy7QjBhz1juOM</string>
	<key>GCM_SENDER_ID</key>
	<string>205448568564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleTodolist</string>
	<key>PROJECT_ID</key>
	<string>simple-todolist-d9180</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-todolist-d9180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205448568564:ios:e1ba76e29cc6260a5e88a1</string>
</dict>
</plist>